html,
body {
  color: white;
  background-color: black;
  font-family: monospace;
  letter-spacing: 0.2em;
}
.app .container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.app .container .counter {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.app .container .increment-btn {
  color: white;
  background-color: dodgerblue;
  border-radius: 7.5%;
  padding: 1em;
  cursor: pointer;
  border: none;
  font-size: x-large;
}
.app .container .increment-btn:hover {
  background-color: tomato;
  border-width: 0.25em;
  border-color: white;
  border-style: solid;
  transition: 200ms;
}
